<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>
<div>
    <form th:action="@{/users/add}" method="post" th:object="${user}">
        <label>Enter your firstname:</label>
        <input type="text" placeholder="Please enter your name" th:field="*{ime}" />

        <label>Enter your lastname:</label>
        <input type="text" placeholder="Please enter your lastname" th:field="*{prezime}" />

        <label>Enter your email:</label>
        <input type="email" placeholder="Please enter your email" th:field="*{email}" />

        <button type="submit">Add user</button>
    </form>
</div>
</body>
</html>